<% @resource.mail_form_attributes.each do |attribute, value|
  next if value.blank? %>
  <% if @resource.class.human_attribute_name(attribute) == "Message" %>
    <p>
      <%= case value
      when /\n/
        raw(simple_format(h(value)))
      when Time, DateTime, Date
        I18n.l(value)
      else
        value
      end %>
    </p>
  <% end %>
<% end %>