<% title "How it works" %>
<% description "FunJaza makes it easy to find and share fun events. See how it works in 4 steps." %>

<h3 class="page-heading">How it works</h3>

<%= image_tag("funjaza_howitworks.png", class: "img-responsive") %>
<br/>

<h4>Hey, event organizer/promoter:</h4>
<ul>
	<li>You'll have full control over the events you share<span class="brand-fun">*</span>. Create, edit or delete them whenever you need to.</li>
	<li>You'll see the number of views your event has received. Numbers = great insights.</li>
	<li>You'll see how many people have saved your event. More numbers = even greater insights.</li>
</ul>
<br/>

<h4>Hey, general public (aka fun-lovers):</h4>
<ul>
	<li>You can search for the event you overheard people talking about. This feature suggests results as you type and asks 'did you mean?' if you make a typo (you know, in case you mispelt what you overheard).</li>
	<li>You can filter events by county, category, entry fee & dates. Like if the pocket is 'shallow' (around January), you can quickly filter to see free events.</li>
	<li>You can find nearby events (within a 5km radius) at the click of a button. Sometimes fun is right around the corner, literally!</li>
	<li>You can save<span class="brand-fun">*</span> upcoming events for quick future reference. Save your precious brain for other things.</li>
	<li>You can share events with friends via Facebook, Twitter or Email without leaving the site. No need to copy and paste links anymore.</li>
</ul>
<br/>

<p><span class="brand-fun">*</span> - means the action requires you to <%= link_to "sign up", new_user_registration_path %> first</p>