<% title "Terms of service" %>
<% description "Terms of service for FunJaza" %>

<h3 class="page-heading">Terms of service</h3>

<h4 class="terms-heading">Sharing Events</h4>

<p>&#9642; FunJaza administrators maintain the right to delete an event found to be of offensive nature.</p>

<p>&#9642; If FunJaza administrators discover that an event was shared by an entity not involved in its organizing, the event will be deleted and the associated account disabled.</p>

<p>&#9642; Sharing fake event information will result in the deletion of the fake event and disabling of the organizer's account by FunJaza administrators.</p>

<p>&#9642; An event that is deemed not to qualify as fun may be deleted by FunJaza administrators.</p>

<h4 class="terms-heading">Information Accuracy</h4>

<p>&#9642; Event information shared on the website may turn out to be incorrect despite our best efforts to ensure its correctness. FunJaza is not liable for any inconvenience or loss that may result from incorrect information.</p>

<h4 class="terms-heading">Use of Cookies</h4>

<p>&#9642; Browser cookies are used to enhance user experience on FunJaza.</p>