<% title "Report a bug" %>

<div class="col-md-8 no-left-padding">
	<h3 class="page-heading">Report a bug</h3>
	<%= simple_form_for @report_issue, html: { multipart: true }, validate: true do |f| %>
		<%= render "shared/error_messages", :object => @report_issue %>

		<% if user_signed_in? %>
			<%= f.input :name, input_html: { value: "#{current_user.name}" }, label: "Your name" %>
		<% else %>
			<%= f.input :name, label: "Your name" %>
		<% end %>

		<% if user_signed_in? %>
			<%= f.input :email, as: :email, input_html: { value: "#{current_user.email}" }, label: "Your email" %>
		<% else %>
			<%= f.input :email, as: :email, label: "Your email" %>
		<% end %>

		<%= f.input :screenshot, as: :file, hint: "Allowed file types are PNG, JPEG and GIF. Maximum file size is 2MB.", input_html: { class: "file-upload" } %>
		<%= f.input :subject %>
		<%= f.input :message, as: :text, input_html: { rows: 10 } %>
		<div class="hidden">
			<%= f.input :nickname, hint: "Leave this field blank." %>
		</div>
		<%= f.button :submit, "Send", class: "btn btn-primary", data: {disable_with: "Sending..."} %>
	<% end %>
</div>