<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Email "<%= @subject %>"</h4>
    </div>
    <%= simple_form_for @email_event, validate: true, remote: true do |f| %>
    <div class="modal-body">
      <%#= render "shared/error_messages", :object => @email_event %>
      <% if user_signed_in? %>
        <%= f.input :name, input_html: { value: "#{current_user.name}" }, label: "Your name" %>
      <% else %>
        <%= f.input :name, label: "Your name" %>
      <% end %>
      <% if user_signed_in? %>
        <%= f.input :your_email, as: :email, input_html: { value: "#{current_user.email}" } %>
      <% else %>
        <%= f.input :your_email, as: :email %>
      <% end %>
      <%= f.input :recipient_email, as: :email, label: "Recipient's email" %>
      <%= f.input :subject, input_html: { value: "#{@subject}" }  %>
      <%= f.input :message, as: :text, input_html: { rows: 10, value: @message.html_safe, id: "email-event-msg" } %>
      <div class="hidden">
        <%= f.input :nickname, hint: "Leave this field blank." %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.button :submit, "Send", class: "btn btn-primary", data: { disable_with: "Sending..." } %>
    </div>
    <% end %>
  </div>
</div>