<% title "Shared Events" %>

<h3 class="page-heading">Shared Events</h3>

<%= form_tag(shared_events_path, :method => "get") do %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search], class: "form-control shared-events-search-input", placeholder: "Search by title" %>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
         of using a Rails form helper -->
    <div class="shared-search-clear-wrapper">
	    <button class="btn btn-default btn-default-primary-text btn-search-shared" type="submit">Search</button>
	    &nbsp;
	    <%= link_to "Clear", shared_events_path, class: "btn btn-default btn-default-primary-text btn-search-shared" %>
	  </div>
  </div>
<% end %>

<div class="shared-events-results">
	<% if @shared_events.any? %>
		<% if params[:search].present? %>
			<p><%= pluralize(@shared_events.count, "result") %> found.</p>
		<% end %>
		<% @shared_events.each do |shared_event| %>
			<p>
				<div>
					<span>
						<%= shared_event.title %>
					</span>
					<span class="brand-fun"> | </span>
					<span>
						<%= pluralize(SavedEvent.where(event_id: shared_event.id).count, 'save') %>
					</span>
					<span class="brand-fun"> | </span>
					<span>
						<%= pluralize(shared_event.impressionist_count(:filter => :session_hash), 'view') %>
					</span>
				</div>
				<span><%= link_to "View", event_path(shared_event) %></span> |
				<span><%= link_to "Edit", edit_event_path(shared_event), rel: "nofollow" %></span> |
				<span><%= link_to "Delete", event_path(shared_event), method: :delete, data: { confirm: "Are you sure you want to delete '#{shared_event.title}'?" }  %></span>
			</p>
		<% end %>
	<% else %>
		<% if params[:search].present? %>
			<p>0 results found for '<%= params[:search] %>'</p>
		<% else %>
			<p>All the events you <%= link_to "share", new_event_path() %> will be listed here for easy management.</p>
		<% end %>
	<% end %>
</div>


<%= will_paginate @shared_events, renderer: BootstrapPagination::Rails %>