<% title "Sign in" %>
<% description "Sign into FunJaza to share your upcoming fun events." %>

<div class="row sign-up-wrapper">
	<div class="col-sm-6 col-md-8 sign-up-fields-form">
		<h3 class="page-heading clear-top-margin">Sign in</h3>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
		  </div>
		<% end %>

		<%= render "users/shared/links" %>
	</div>
	<div class="col-sm-6 col-md-4 sign-up-via-social-media">
		<p class="bold-text">Or</p>
		<%= link_to "Sign in using Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-facebook-sign-in" %>
	</div>
</div>