<div class="col-md-8 no-left-padding">
	<h3 class="page-heading">Resend unlock instructions</h3>

	<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>
	  <%= f.full_error :unlock_token %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Resend unlock instructions", class: "btn btn-primary" %>
	  </div>
	<% end %>

	<%= render "users/shared/links" %>
</div>