<div class="fb-embedded-page-wrapper">
	<p class="fa-social-media-icon-30"><i class="fa fa-facebook-square"></i></p>
	<div class="fb-page" data-href="<%= @user.facebook_url %>" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="<%= @user.facebook_url %>"><a href="<%= @user.facebook_url %>">Facebook</a></blockquote></div></div>
</div>