<div class="twitter-embedded-timeline-wrapper">
	<p class="fa-social-media-icon-30"><i class="fa fa-twitter-square"></i></p>
	<a class="twitter-timeline" href="https://twitter.com/<%= @user.twitter_handle %>" data-widget-id="626121323803099136" data-screen-name="<%= @user.twitter_handle %>">Tweets by @<%= @user.twitter_handle %></a>
</div>