<%# title "Contact #{@user.name}" %>

<%# if @user.twitter_handle.present? && @user.facebook_url.present? %>
<!-- 	<div class="col-md-8 no-left-padding">
		<div>
			<%#= render "user_profile_details" %>
		</div>
		<div>
			<%#= render "twitter_timeline_embed" %>
		</div>
		<div>
			<%#= render "fb_page_embed" %>
		</div>
	</div> -->
<%# elsif @user.twitter_handle.present? && !@user.facebook_url.present? %>
<!-- 	<div class="col-md-8 no-left-padding">
		<div>
			<%#= render "user_profile_details" %>
		</div>
		<div>
			<%#= render "twitter_timeline_embed" %>
		</div>
	</div> -->
<%# elsif !@user.twitter_handle.present? && @user.facebook_url.present? %>
<!-- 	<div class="col-md-8 no-left-padding">
		<div>
			<%#= render "user_profile_details" %>
		</div>
		<div>
			<%#= render "fb_page_embed" %>
		</div>
	</div> -->
<%# else %>
	<!-- <div class="col-md-8 no-left-padding">
		<%#= render "user_profile_details" %>
	</div> -->
<%# end %>
