<%# saved_event_ids = SavedEvent.pluck(:event_id) %>

<%# if saved_event_ids.include? event.id %>
	<%# saved_count = saved_event_ids.count(event.id) %>
	<%# if saved_count >= 1000000 %>
		<%# saved_count_string = (saved_count/1000000.0).round(2).to_s + "M" %>
	<%# elsif saved_count >= 100000 %>
		<%# saved_count_string = (saved_count/1000.0).round(0).to_s + "K" %>
	<%# elsif saved_count >= 10000 %>
		<%# saved_count_string = (saved_count/1000.0).round(1).to_s + "K" %>
	<%# elsif saved_count >= 1000 %>
		<%# saved_count_string = (saved_count/1000.0).round(2).to_s + "K" %>
	<%# elsif saved_count < 1000 %>
		<%# saved_count_string = saved_count.to_s %>
	<%# end %>
<%# end %>

<% if user_signed_in? %>
  <% unless current_user.saved_events.pluck(:event_id).include? event.id %>
    <%= form_for(current_user.saved_events.build, remote: true) do |f| %>
      <div><%= hidden_field_tag :event_id, event.id %></div>
      <%#= f.button "Save&nbsp;<span class=\"thin-count\">#{saved_count_string}</span>".html_safe(), class: "btn btn-default btn-default-primary-text btn-add-remove-calendar" %>
      <%= f.button "Save".html_safe(), class: "btn btn-default btn-default-primary-text btn-add-remove-calendar" %>
    <% end %>
  <% else %>
    <%= link_to '<span class="added-to-calendar"></span>'.html_safe, saved_event_path(event.id), remote: true, rel: "nofollow", method: :delete, class: "btn btn-default btn-default-burnt-orange-text btn-add-remove-calendar btn-remove-from-calendar" %>
  <% end %>
<% else %>
  <%#= link_to "Save&nbsp;<span class=\"thin-count\">#{saved_count_string}</span>".html_safe(), saved_events_path, method: :post, rel: "nofollow", class: "btn btn-default btn-add-remove-calendar btn-default-primary-text" %>
  <%= link_to "Save".html_safe(), saved_events_path, method: :post, rel: "nofollow", class: "btn btn-default btn-add-remove-calendar btn-default-primary-text" %>
<% end %>
<span><%= link_to("Edit event", edit_event_path(event), class: "edit-event-link", title: "Only you the sharer can see this option to edit. Click to proceed.", data: { toggle: "tooltip", placement: "bottom" } ) if event.user == current_user %></span>