<% if params[:n] %>
	<li class="agg-list-item"><%= link_to "All", events_path(@clean_params.merge(n: nil)), remote: true, rel: "nofollow" %></li>
<% end %>	
<% @events.results.response.response['aggregations']['entry']['filtered_entry']['buckets'].each do |n| %>
	<% if params[:n] != n[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(n: n[0])), remote: true, rel: "nofollow" do
        n[0].titleize.html_safe + " " + content_tag(:small, "#{n[1]['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item"
		%>
	<% end %>
	<% if params[:n] == n[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(n: nil)), remote: true, rel: "nofollow" do
        n[0].titleize.html_safe + " " + content_tag(:small, "#{n[1]['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item active"
		%>
	<% end %>
<% end %>