<div class="row hidden-xs">
  <div class="agg-group-wrapper col-sm-3 col-xs-6">
    <div class="agg-group" id="aggs-locations-list">
      <%= render "aggsLocations" %>
    </div>
  </div>
  
  <div class="agg-group-wrapper col-sm-3 col-xs-6">
    <div class="agg-group" id="aggs-categories-list">
      <%= render "aggsCategories" %>
    </div>
  </div>
  
  <% unless params[:uo] == 'ongoing' %>
    <div class="agg-group-wrapper col-sm-3 col-xs-6">
      <div class="agg-group" id="aggs-dates-list">
        <%= render "aggsDates" %>
      </div>
    </div>
  <% end %>

  <div class="agg-group-wrapper col-sm-3 col-xs-6">
    <div class="agg-group" id="aggs-entry-list">
      <%= render "aggsEntry" %>
    </div>
  </div>
</div>

<div class="visible-xs">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default <%= ' active-border' if params[:n] %>">
      <div class="panel-heading ellipsis aggs-panel-heading" role="tab" id="headingFour">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <span class="sm-aggs-filter-label">Entry -</span>
          <% if params[:n] %>
            <span class="active-text"><%= params[:n].titleize %></span>
          <% else %>
            <span>All</span>
          <% end %>
        </a>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body aggs-panel-body">
          <ul class="sm-aggs-ul">
            <%= render "aggsEntryList" %>
          </ul>
        </div>
      </div>
    </div>
    <% unless params[:uo] == 'ongoing' %>
      <div class="panel panel-default <%= ' active-border' if params[:d] %>">
        <div class="panel-heading ellipsis aggs-panel-heading" role="tab" id="headingThree">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="sm-aggs-filter-label">Dates -</span>
            <% if params[:d] %>
              <span class="active-text"><%= params[:d].titleize %></span>
            <% else %>
              <span>All</span>
            <% end %>
          </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body aggs-panel-body">
            <ul class="sm-aggs-ul">
              <%= render "aggsDateList" %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel panel-default <%= ' active-border' if params[:e] %>">
      <div class="panel-heading ellipsis aggs-panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="sm-aggs-filter-label">Category -</span>
          <% if params[:e] %>
            <span class="active-text"><%= params[:e].titleize %></span>
          <% else %>
            <span>All</span>
          <% end %>
        </a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body aggs-panel-body">
          <ul class="sm-aggs-ul">
            <%= render "aggsCategoriesList" %>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default <%= ' active-border' if params[:l] %>">
      <div class="panel-heading ellipsis aggs-panel-heading" role="tab" id="headingOne">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="sm-aggs-filter-label">County -</span>
          <% if params[:l] %>
            <span class="active-text"><%= params[:l].titleize %></span>
          <% else %>
            <span>All</span>
          <% end %>
        </a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body aggs-panel-body">
          <ul class="sm-aggs-ul">
            <%= render "aggsLocationList" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>