<div class="facet-filters">County</div>

<div class="dropdown btn-agg-dropdown-wrapper">
  <button class="ellipsis btn btn-default btn-agg-dropdown dropdown-toggle<%= ' active-text' if params[:l] %>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  	<i class="fa fa-caret-down pull-right"></i>
    <% if params[:l] %>
    	<%= params[:l].titleize %>
    <% else %>
    	All
    <% end %>
  </button>
	<ul class="dropdown-menu locations-dropdown-menu" aria-labelledby="dropdownMenu1">
	  <%= render "aggsLocationList" %>
	</ul>
</div>