<div class="facet-filters">Dates</div>

<div class="dropdown btn-agg-dropdown-wrapper">
  <button class="btn btn-default btn-agg-dropdown dropdown-toggle <%= ' active-text' if params[:d] %>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  	<i class="fa fa-caret-down pull-right"></i>
  	<% if params[:d] %>
    	<%= params[:d].titleize %>
    <% else %>
    	All
    <% end %>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
  	<%= render "aggsDateList" %>
  </ul>
</div>