<% if params[:e] %>
	<li class="agg-list-item"><%= link_to "All", events_path(@clean_params.merge(e: nil)), remote: true, rel: "nofollow" %></li>
<% end %>	
<% @events.results.response.response['aggregations']['event_categories']['filtered_event_categories']['buckets'].each do |e| %>
	<% if params[:e] != e[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(e: e[0])), remote: true, rel: "nofollow" do
	      e[0].titleize.html_safe + " " + content_tag(:small, "#{e[1]['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item"
		%>
	<% end %>

	<% if params[:e] == e[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(e: nil)), remote: true, rel: "nofollow" do
	      e[0].titleize.html_safe + " " + content_tag(:small, "#{e[1]['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item active"
		%>
	<% end %>
<% end %>