<% @events.results.response.response['aggregations']['dateranges']['filtered_range']['buckets'].sort_by! { |b| b['to'] } %>

<% if params[:d] %>
	<li class="agg-list-item"><%= link_to "All", events_path(@clean_params.merge(d: nil, f: nil, t: nil)), remote: true, rel: "nofollow" %></li>
<% end %>	
<% @events.results.response.response['aggregations']['dateranges']['filtered_range']['buckets'].each do |d| %>

	<% if params[:d] != d['key'] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(f: d['from_as_string'], t: d['to_as_string'], d: d['key'])), remote: true, rel: "nofollow" do 
		  	d['key'].titleize.html_safe + " " + content_tag(:small, "#{d['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item" 
		%>
	<% end %>

	<% if params[:d] == d['key'] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(f: nil, t: nil, d: nil)), remote: true, rel: "nofollow" do 
		  	d['key'].titleize.html_safe + " " + content_tag(:small, "#{d['doc_count']}", class: 'agg-count').html_safe
		  end), class: "agg-list-item active"
		%>
	<% end %>

<% end %>