<div class="facet-filters">Category</div>

<div class="dropdown btn-agg-dropdown-wrapper">
  <button class="btn btn-default btn-agg-dropdown dropdown-toggle <%= ' active-text' if params[:e] %>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  	<i class="fa fa-caret-down pull-right"></i>
    <% if params[:e] %>
    	<%= params[:e].titleize %>
    <% else %>
    	All
    <% end %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  	<%= render "aggsCategoriesList" %>
  </ul>
</div>