<% location_buckets = @events.results.response.response['aggregations']['locations']['filtered_locations']['buckets'].sort_by { |l| [-l[1].doc_count, l[0]] } %>

<% if params[:l] %>
	<li class="agg-list-item"><%= link_to "All", events_path(@clean_params.merge(l: nil)), remote: true, rel: "nofollow" %></li>
<% end %>	
<% location_buckets.each do |l| %>
	<% if params[:l] != l[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(l: l[0])), remote: true, rel: "nofollow" do
        l[0].titleize.html_safe + " " + content_tag(:small, "#{l[1]['doc_count']}", class: "agg-count").html_safe
		  end), class: "agg-list-item"
		%>
	<% end %>
	<% if params[:l] == l[0] %>
		<%=
		  content_tag :li, (link_to events_path(@clean_params.merge(l: nil)), remote: true, rel: "nofollow" do
        l[0].titleize.html_safe + " " + content_tag(:small, "#{l[1]['doc_count']}", class: "agg-count").html_safe
		  end), class: "agg-list-item active"
		%>
	<% end %>
<% end %>