<div class="facet-filters">Entry</div>

<div class="dropdown btn-agg-dropdown-wrapper">
  <button class="btn btn-default btn-agg-dropdown dropdown-toggle <%= ' active-text' if params[:n] %>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  	<i class="fa fa-caret-down pull-right"></i>
  	<% if params[:n] %>
    	<%= params[:n].titleize %>
    <% else %>
    	All
    <% end %>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
  	<%= render "aggsEntryList" %>
  </ul>
</div>