<div class="nested-fields event-schedule-group">
  <div class="row datetime">
    <div class="col-sm-4">
      <%= f.input :starts_date, as: :string, input_html: { class: "date start", value: "#{f.object.starts_date.strftime("%d/%m/%Y") unless f.object.starts_date.nil?}", readonly: "readonly" }, label: "Date", placeholder: "dd/mm/yyyy", validate: true %>
    </div>
    <div class="col-sm-4">
      <%= f.input :starts_time, as: :string, input_html: { class: "time start", value: "#{f.object.starts_time.strftime("%l:%M %p") unless f.object.starts_time.nil?}" }, label: "Start time", placeholder: "hh:mm am/pm", validate: true %>
    </div>
    <div class="col-sm-4">
      <%= f.input :ends_time, as: :string, input_html: { class: "time end", value: "#{f.object.ends_time.strftime("%l:%M %p") unless f.object.ends_time.nil?}" }, label: "End time", placeholder: "hh:mm am/pm", validate: true %>
    </div>
    <div>
      <%= f.input :ends_date, as: :hidden, input_html: { class: "date end", value: "#{f.object.ends_date.strftime("%d/%m/%Y") unless f.object.ends_date.nil?}", readonly: "readonly" }, label: "End date", placeholder: "dd/mm/yyyy", validate: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
       <div>
        <%= f.label "Repeats?" %>
      </div>
      <div>
        <%= f.select_recurring :schedule, nil, { :allow_blank => true }, { class: "form-control repeats_selector" } %>
      </div>
    </div>
    <div class="col-sm-6 repeats-until-wrapper">
      <%= f.input :until, as: :string, input_html: { id: "recurs_until_date", class: "until-date", value: "#{f.object.until.strftime("%-d/%-m/%Y") unless f.object.until.nil?}", readonly: "readonly" }, label: "Until", placeholder: "dd/mm/yyyy", hint: "required if event repeats" %>
    </div>
  </div>
  
  <div class="remove-event-time">
    <%= link_to_remove_association 'Remove', f, class: "btn btn-danger btn-remove-times" %>
  </div>
</div>