<div>
  <% hr_counter = 0 %>

  <% @events.records.each_with_hit do |dbevent, event| %>
    <% hr_counter += 1 %>

  	<div class="result-row">
      <!-- start: event poster -->
      <div class="event-image-wrapper">
        <%= link_to (attachment_image_tag(dbevent, :poster, :fill, 100, 150, fallback: "missing.jpg", class: "event-img", alt: "Event poster image")), event_path(event.slug) %>
        <div class="views-wrapper grayed-out"><small><%= pluralize(dbevent.impressionist_count(:filter => :session_hash), 'view') %></small></div>
      </div>

      <!-- end: event poster -->

      <div class="event-details-wrapper">

        <!-- start: event title -->
  			<div class="event-title ellipsis event-detail">
	      	<!-- ternary operator used in the link_to method below -->
          <% if event.try(:highlight).try('title.shingles') %>
            <%= link_to event.highlight['title.shingles'].join.html_safe, event_path(dbevent.slug) %>
          <% elsif event.try(:highlight).try('title.english') %>
            <%= link_to event.highlight['title.english'].join.html_safe, event_path(dbevent.slug) %>
          <% elsif event.try(:highlight).try(:title) %>
	          <%= link_to event.highlight.title.join.html_safe, event_path(dbevent.slug) %>
          <% else %>
            <%= link_to event.title, event_path(dbevent.slug) %>
          <% end %>
	      </div>
        <!-- end: event title -->

        <!-- start: event category -->
        <div class="ellipsis event-detail">
          <% if event.try(:highlight).try('event_category.name.english') %>
            <%= event.highlight['event_category.name.english'].join.titleize.html_safe %>
          <% elsif event.try(:highlight).try('event_category.name') %>
            <%= event.highlight['event_category.name'].join.titleize.html_safe %>
          <% else %>
            <%= event.event_category.name.titleize %>
          <% end %>
        </div>
        <!-- end: event category -->

        <!-- start: event time -->
        <div class="ellipsis event-detail">
          <%# ongoing_event_time_count = event.event_times.select { |event_time| event_time.starts < Time.zone.now && event_time.ends > Time.zone.now } %>
          <%#= ongoing_event_time_count.count %>
          <%# binding.pry %>
          <% if params[:uo] == 'ongoing' %>
            <% ongoing_event_time = event.event_times.select { |event_time| event_time.starts < Time.zone.now && event_time.ends > Time.zone.now } %>
            <% upcoming_event_times = event.event_times.select { |event_time| event_time.starts > Time.zone.now } %>
            <% if ongoing_event_time.any? %>
              <span>
                <%= "Ongoing till #{ongoing_event_time[0].ends.to_datetime.strftime("%l:%M%P")} today." if ongoing_event_time[0].ends.to_date == Time.zone.now.to_date %>
                <%= "Ongoing till #{ongoing_event_time[0].ends.to_datetime.strftime("%l:%M%P")} tomorrow." if ongoing_event_time[0].ends.to_date == Time.zone.now.to_date + 1.day %>
              </span>
            <% end %>
            <% if upcoming_event_times.any? %>
              <% upcoming_event_times.sort_by! { |t| t.starts} %>
              <div class="ellipsis event-detail-more-dates">
                <%= link_to "show more times", "#upcoming_event_times-#{hr_counter}", data: { toggle: "collapse" }, rel: "nofollow", class: "more-times-available-link" %>
                <span><small> (upto next 10)</small></span>
                <!-- <span class="grayed-out"><small>&nbsp;(next 10)</small></span> -->
                <ul id="upcoming_event_times-<%= hr_counter %>" class="collapse next-future-dates">
                <% upcoming_event_times.first(10).each do |t| %>
                  <li>
                    <% if t.starts.to_date == t.ends.to_date %>
                      <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
                    <% else %>
                      <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </div>
            <% end %>
          <% else %>
            <!-- take care of events with a single event time -->
            <% if event.event_times.count == 1 %>
              <!-- display single event time -->
              <span>
                <% if event.event_times[0].starts.to_date == event.event_times[0].ends.to_date %>
                  <%= event.event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= event.event_times[0].ends.to_datetime.strftime("%l:%M%P") %>
                <% else %>
                  <%= event.event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= event.event_times[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                <% end %>
              </span>
            <!-- take care of events with multiple event times -->
            <% elsif event.event_times.count > 1 %>
              <%# start_dates = [] %>
              <% event_dates = [] %>
              <% event.event_times.each do |event_time| %>
                <%# start_dates << event_time.starts %>
                <% event_dates << event_time %>
              <% end %>
              <!-- take care of events with multiple event times and with time filters selected and then display -->
              <% if params[:d] && params[:f] && params[:t] %>
                <% future_dates = event_dates.select { |date| date.starts > params[:f].in_time_zone("Nairobi") && date.starts < params[:t].in_time_zone("Nairobi") } %>
                <% future_dates.sort_by! { |date| date.starts } %>

                <% if future_dates[0].starts.to_date == future_dates[0].ends.to_date %>
                  <%= future_dates[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= future_dates[0].ends.to_datetime.strftime("%l:%M%P") %>
                <% else %>
                  <%= future_dates[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= future_dates[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                <% end %>

                <% if future_dates.count > 1 %>
                  <div class="ellipsis event-detail-more-dates">
                    <% next_future_dates = future_dates.drop(1) %>
                    <% if next_future_dates.size > 0 %>
                      <%= link_to "show more times", "#next-future-dates-#{hr_counter}", data: { toggle: "collapse" }, rel: "nofollow", class: "more-times-available-link" %>
                      <span><small> (upto next 10)</small></span>
                      <ul id="next-future-dates-<%= hr_counter %>" class="collapse next-future-dates">
                      <% next_future_dates.first(10).each do |nfdate| %>
                        <li>
                          <% if nfdate.starts.to_date == nfdate.ends.to_date %>
                            <%= nfdate.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= nfdate.ends.to_datetime.strftime("%l:%M%P") %>
                          <% else %>
                            <%= nfdate.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= nfdate.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                          <% end %>
                        </li>
                      <% end %>
                      </ul>
                    <% end %>
                  </div>
                <% end %>
              <!-- take care of events with multiple event times and without time filters selected and then display -->  
              <% else %>
                <% future_dates = event_dates.select { |date| date.starts > Time.zone.now } %>
                <% future_dates.sort_by! { |date| date.starts } %>
                <% if future_dates[0].starts.to_date == future_dates[0].ends.to_date %>
                  <%= future_dates[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= future_dates[0].ends.to_datetime.strftime("%l:%M%P") %>
                <% else %>
                  <%= future_dates[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= future_dates[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                <% end %>
                <% next_future_dates = future_dates.drop(1) %>
                <% if next_future_dates.size > 0 %>
                  <div class="ellipsis event-detail-more-dates">
                    <%= link_to "show more times", "#next-future-dates-#{hr_counter}", data: { toggle: "collapse" }, rel: "nofollow", class: "more-times-available-link" %>
                    <span><small> (upto next 10)</small></span>
                    <!-- <span class="grayed-out"><small>&nbsp;(next 10)</small></span> -->
                    <ul id="next-future-dates-<%= hr_counter %>" class="collapse next-future-dates">
                    <% next_future_dates.first(10).each do |nfdate| %>
                      <li>
                        <% if nfdate.starts.to_date == nfdate.ends.to_date %>
                          <%= nfdate.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= nfdate.ends.to_datetime.strftime("%l:%M%P") %>
                        <% else %>
                          <%= nfdate.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= nfdate.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                        <% end %>
                      </li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <!-- end: event time -->

        <!-- start: event tickets -->
        <div class="ellipsis event-detail">
          <% tickets = event.tickets %>
          <% tickets.sort_by! { | ticket | ticket[:price].to_f } %>
          <% if tickets.empty? && event.entry == "Free" %>
            <span class="brand-fun">Free</span>
          <% elsif tickets.empty? && event.entry == "Paid" %>
            Paid <span class="grayed-out"><small>(ticket details not provided)</small></span>
          <% elsif !tickets.empty? && event.entry == "Paid" %>
            <span>
              <% if tickets.first[:price].to_f == 0 %>
                <% if tickets.first[:price].to_f == tickets.last[:price].to_f %>
                  Paid <span class="grayed-out"><small>(free for a limited group)</small></span>
                <% else %>
                  Free <span>-</span> <%= number_to_currency_custom tickets.last[:price].to_f %>
                <% end %> 
              <% else %>
                <% if tickets.first[:price].to_f == tickets.last[:price].to_f %>
                  <%= number_to_currency_custom tickets.first[:price].to_f %>  
                <% else %>
                  <%= number_to_currency_custom tickets.first[:price].to_f %> <span>-</span> <%= number_to_currency_custom tickets.last[:price].to_f %>
                <% end %>
              <% end %>
            </span>
          <% end %>
        </div>
        <!-- end: event tickets -->

        <!-- start: event location -->
        <div class="ellipsis event-detail">
          <%= event.try(:highlight).try(:venue) ? event.highlight.venue.join.html_safe : event.venue %>
        </div>
        <!-- end: event location -->

        <!-- start: event description -->
        <% if event.try(:highlight).try(:descriptiontext) %>
        <div class="ellipsis event-detail">
          <span>Details: </span>
          <span><%= sanitize(event.highlight.descriptiontext.join, tags: %w(em)) %></span>
        </div>
        <% end %>
        <!-- end: event description -->

        <!-- start: event add calendar button -->
        <div class="calendar_button calendar-button-event-results" id="calendar_button_<%= event.id %>">
          <%= render partial: 'shared/calendar_buttons', locals: { event: dbevent } %>
        </div>
        <!-- end: event add calendar button -->

      </div>
      
      <div class="clear-left"></div>

	  </div>

  <% end %>

  <%= will_paginate @events, :renderer => BootstrapPagination::Rails %>

</div>