<%= link_to 'clear filters<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(e: nil, f: nil, t: nil, d: nil, n: nil, l: nil)), class: "clear-filters-and-search", remote: true %>