<% content_for :google_maps_include_js do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places", :cache => true %>
<% end %>

<%= simple_form_for @event, validate: true do |f| %>

  <%= render "shared/error_messages", :object => @event %>

  <div class="form-inputs">
    <%# if @event_new %>
      <!-- <p><span class="brand-fun"><i class="fa fa-exclamation-triangle"></i></span> Before sharing an event, please confirm it hasn't already been shared by using search on the <%= link_to("find fun", events_path, target: "_blank" ) %> page.</p> -->
    <%# end %>
    
    <p id="mandatory-fields-label">You must fill in the fields marked *</p>

    <%= f.association :event_category, label: "Category", label_method: lambda { |category| category.name.titleize }, collection: EventCategory.order('name ASC') %>

    <% if @event.errors[:poster].any? %>
    <div id="event-poster-wrapper" class="has-error form-group">
      <%= f.label "Poster", class: "text-danger", required: true %><br/>
    <% else %>
    <div id="event-poster-wrapper" class="form-group">
      <%= f.label "Poster", required: true %><br/>
    <% end %>  
      <% if @event.poster %>
        <div class="form-group">
          <%= attachment_image_tag(@event, :poster, :fill, 100, 150) %>
          <%= f.check_box :remove_poster %>
          <%= f.label :remove_poster %>
        </div>
      <% end %>
      <!-- using refile gem to do direct upload woohoo -->
      <%= f.attachment_field :poster, direct: true, class: "file-upload" %>
      <span class="poster-uploading"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
      <%= f.hint "Allowed file types are PNG, JPEG and GIF. Maximum file size is 2MB. Minimum recommended image size is 400px x 600px." %>
      <%= f.error :poster, id: 'poster_error' %>
    </div>

    <%= f.input :title, input_html: { id: "event-title"} %>
    <p id="event-title-counter-wrapper"><span id="event-title-counter"></span></p>

    <%= f.input :venue, input_html: { id: "event-venue" }, label: "Venue", hint: "Whenever possible, select a venue from the list that's generated as you type. This ensures a map to the venue is made available and your event is returned in nearby search results." %>

    <div class="map-container">
      <div id="map-preview"></div>
    </div>

    <%= f.input :point, as: :hidden, input_html: { class: "hidden-map-info", data_geo: "location", id: "event-point" } %>
    <%= f.association :location, label: "County", label_method: lambda { |location| location.name.titleize }, input_html: { class: "event-admin-area" }, collection: Location.order('name ASC') %>

    <% if @event.errors["event_schedules.starts"].any? %>
    <div id="event-times" class="has-error form-group">
      <%= f.label "Times", required: true, class: "text-danger" %>
    <% else %>
    <div id="event-times" class="form-group">
      <%= f.label "Times", required: true %>
    <% end %>
      <%= f.simple_fields_for :event_schedules do |event_schedule| %>
        <%= render "event_schedule_fields", :f => event_schedule %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Date/Time'.html_safe, f, :event_schedules, class: "btn btn-success btn-add-times" %>
      </div>
    </div> 

    <%= f.input :entry, collection: ["Free", "Paid"], input_html: { id: "event-entry" } %>

    <div id="tickets" class="form-group">
      <%= f.label "Tickets" %>
      <%= f.hint "Enter a price of 0 if entry is free for a certain group e.g. kids under 12" %>
      <%= f.simple_fields_for :tickets do |ticket| %>
        <%= render "ticket_fields", :f => ticket %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Ticket', f, :tickets, class: "btn btn-success btn-add-tickets" %>
      </div>
    </div>

    <%= f.label "Details", required: true %>
    <%= f.input :description, input_html: { id: "event-description" }, label: false %>

    <%= f.input :confirm_truth, label: "I, the event organizer, confirm that the information provided is true and correct to the best of my knowledge.", as: :boolean, required: true %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary", id: "btn-new-edit-event", data: { disable_with: "Please wait..." } %><span class="poster-uploading"><i class="fa fa-spinner fa-spin"></i> Poster uploading...</span>
  </div>

<% end %>