<% if params[:uo] == 'ongoing' %>
	<%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'ongoing event')} happening nearby." %>
	<span>
		<%= link_to 'clear nearby lookup<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(km: nil, lat: nil, lng: nil)), class: "clear-filters-and-search", remote: true %>
	</span>
<% else %>
	<%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'upcoming event')} happening nearby." %>
	<span>
		<%= link_to 'clear nearby lookup<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(km: nil, lat: nil, lng: nil)), class: "clear-filters-and-search", remote: true %>
	</span>
<% end %>