<% if params[:uo] %>
  <% uo_value = params[:uo].titleize %>
<% else %>
  <% uo_value = 'Upcoming' %>
<% end %>

<span id="find-nearby-events-wrapper">

  <%= button_tag "<i class=\"fa fa-spinner fa-spin fa-spin-nearby\"></i>&nbsp;&nbsp;Find Nearby #{uo_value} Events".html_safe, class: "find-nearby-events-btn btn btn-default btn-default-primary-text#{' active-text' if params[:km] && params[:lat] && params[:lng]}", title: "Find events within a 5km radius of your current location." %>

  <%= form_tag events_path, method: :get, id: "find-nearby-events-form" do %>
    <%= hidden_field_tag :km, params[:km], id: "hidden-search-radius" %>
    <%= hidden_field_tag :lat, params[:lat], id: "hidden-lat" %>
    <%= hidden_field_tag :lng, params[:lng], id: "hidden-lng" %>
    <% if params[:q] %>
      <%= hidden_field_tag :q, params[:q], class: "hidden_query" %>
    <% end %>
    <% if params[:e] %>
      <%= hidden_field_tag :e, params[:e], class: "hidden_event_category" %>
    <% end %>
    <% if params[:f] %>
      <%= hidden_field_tag :f, params[:f], class: "hidden_from" %>
    <% end %>
    <% if params[:t] %>
      <%= hidden_field_tag :t, params[:t], class: "hidden_to" %>
    <% end %>
    <% if params[:d] %>
      <%= hidden_field_tag :d, params[:d], class: "hidden_date" %>
    <% end %>
    <% if params[:n] %>
      <%= hidden_field_tag :n, params[:n], class: "hidden_entry" %>
    <% end %>
    <% if params[:l] %>
      <%= hidden_field_tag :l, params[:l], class: "hidden_location" %>
    <% end %>
    <% if params[:uo] %>
      <%= hidden_field_tag :uo, params[:uo], class: "hidden_uo" %>
    <% end %>
  <% end %>
  
</span>