<% if events.size > 0 %>

  <% if params[:q].present? && params[:km].present? && params[:lat].present? && params[:lng].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "search_and_nearby_results_filtered_message" %>
  </p>
  <% elsif params[:q].present? && params[:km].present? && params[:lat].present? && params[:lng].present? %>
  <p class="search-results-message">
    <%= render "search_and_nearby_results_message" %>
  </p>
  <% elsif params[:q].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "results_filtered_message" %>
  </p>
  <% elsif params[:q].present? %>
  <p class="search-results-message">
    <%= render "results_message" %>
  </p>
  <% elsif params[:km].present? && params[:lat].present? && params[:lng].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "nearby_results_filtered_message" %>
  </p>
  <% elsif params[:km].present? && params[:lat].present? && params[:lng].present? %>
  <p class="search-results-message">
    <%= render "nearby_results_message" %>
  </p>
  <% elsif params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l] %>
  <p class="search-results-message">
    <% if params[:uo] == 'ongoing' %>
      <span><%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'ongoing event')}." %></span>
    <% else %>
      <span><%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'upcoming event')}." %></span>
    <% end %>
    <%= render "filtered_message" %>
  </p>
  <% else %>
  <p class="search-results-message">
    <% if params[:uo] == 'ongoing' %>
      <span><%= "#{pluralize(@events.results.response.response['hits']['total'], 'ongoing event')}." %></span>
    <% else %>
      <span><%= "#{pluralize(@events.results.response.response['hits']['total'], 'upcoming event')}." %></span>
    <% end %>
  </p>
  <% end %>

<% else %>

  <% if params[:q].present? && params[:km].present? && params[:lat].present? && params[:lng].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "search_and_nearby_results_filtered_message" %>
  </p>
  <% elsif params[:q].present? && params[:km].present? && params[:lat].present? && params[:lng].present? %>
  <p class="search-results-message">
    <%= render "search_and_nearby_results_message" %>
  </p>
  <% elsif params[:q].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "results_filtered_message" %>
  </p>
  <% elsif params[:q].present? %>
  <p class="search-results-message">
    <%= render "results_message" %>
  </p>
  <% elsif params[:km].present? && params[:lat].present? && params[:lng].present? && (params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l]) %>
  <p class="search-results-message">
    <%= render "nearby_results_filtered_message" %>
  </p>
  <% elsif params[:km].present? && params[:lat].present? && params[:lng].present? %>
  <p class="search-results-message">
    <%= render "nearby_results_message" %>
  </p>
  <% elsif params[:e] || params[:f] || params[:t] || params[:d] || params[:n] || params[:l] %>
  <p class="search-results-message">
    <% if params[:uo] == 'ongoing' %>
      <span>Found 0 ongoing events.</span>
    <% else %>
      <span>Found 0 upcoming events.</span>
    <% end %>
    <%= render "filtered_message" %>
  </p>
  <% else %>
  <p class="search-results-message">
    <% if params[:uo] == 'ongoing' %>
      Sorry, no ongoing events at this time. Please check again later.
    <% else %>
      Sorry, no upcoming events found. Do you have a fun event coming up? If you do, please <%= link_to "share", new_event_path %> it with others.
    <% end %>
  </p>
  <% end %>

<% end %>