<% if params[:uo] == 'ongoing' %>
	<%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'ongoing event')} relating to \"#{params[:q]}\" happening nearby." %>
	<span>
		<%= link_to 'clear search term<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(q: nil, utf8: nil)), class: "clear-filters-and-search", remote: true %>
		<%= link_to 'clear nearby lookup<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(km: nil, lat: nil, lng: nil)), class: "clear-filters-and-search" %>
		<%= link_to 'clear filters<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(e: nil, f: nil, t: nil, d: nil, n: nil, l: nil)), class: "clear-filters-and-search", remote: true %>
		<%= link_to 'clear all<span class="clear-agg">&times;</span>'.html_safe, events_path(), class: "clear-filters-and-search", remote: true %>
	</span>
<% else %>
	<%= "Found #{pluralize(@events.results.response.response['hits']['total'], 'upcoming event')} relating to \"#{params[:q]}\" happening nearby." %>
	<span>
		<%= link_to 'clear search term<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(q: nil, utf8: nil)), class: "clear-filters-and-search", remote: true %>
		<%= link_to 'clear nearby lookup<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(km: nil, lat: nil, lng: nil)), class: "clear-filters-and-search", remote: true %>
		<%= link_to 'clear filters<span class="clear-agg">&times;</span>'.html_safe, events_path(@clean_params.merge(e: nil, f: nil, t: nil, d: nil, n: nil, l: nil)), class: "clear-filters-and-search", remote: true %>
		<%= link_to 'clear all<span class="clear-agg">&times;</span>'.html_safe, events_path(), class: "clear-filters-and-search", remote: true %>
	</span>
<% end %>

<% if @events.results.response.response['hits']['total'] == 0 && !@events.results.response.response['suggest']['phrase_suggest'][0]['options'].empty? %>
	<p>
		Did you mean: <%= link_to (@events.results.response.response['suggest']['phrase_suggest'][0]['options'][0]['highlighted']).html_safe, events_path(params.merge(q: @events.results.response.response['suggest']['phrase_suggest'][0]['options'][0]['text'])) %>
	</p>
<% end %>