<% if params[:uo] %>
  <% uo_value = params[:uo].titleize %>
<% else %>
  <% uo_value = 'Upcoming' %>
<% end %>

<%= form_tag events_path, method: :get, id: "event-search-form", role: "search" do %>
  <div id="searchbox-input-group" class="input-group">
    <%= text_field_tag :q, params[:q], class: "form-control searchbox#{' active-border' if params[:q]}", id: "searchbox", placeholder: "Search for #{uo_value} Events" %>
    <span class="input-group-btn">
      <%= button_tag '<span class="glyphicon glyphicon-search" aria-hidden="true"></span>'.html_safe, name: nil, class: "btn btn-default btn-default-primary-text searchbutton#{' active-text' if params[:q]}" %>
      <%#= button_tag '<span class="glyphicon glyphicon-search" aria-hidden="true"></span>'.html_safe, name: nil, class: "btn btn-primary searchbutton#{' active-border' if params[:q]}" %>
    </span>
  </div>
    <!-- hidden fields below hold filter values -->
  <% if params[:e] %>
  	<%= hidden_field_tag :e, params[:e], class: "hidden_event_category" %>
  <% end %>
  <% if params[:f] %>
  	<%= hidden_field_tag :f, params[:f], class: "hidden_from" %>
  <% end %>
  <% if params[:t] %>
  	<%= hidden_field_tag :t, params[:t], class: "hidden_to" %>
  <% end %>
  <% if params[:d] %>
  	<%= hidden_field_tag :d, params[:d], class: "hidden_date" %>
  <% end %>
  <% if params[:n] %>
  	<%= hidden_field_tag :n, params[:n], class: "hidden_entry" %>
  <% end %>
  <% if params[:l] %>
  	<%= hidden_field_tag :l, params[:l], class: "hidden_location" %>
  <% end %>
  <% if params[:km] %>
  	<%= hidden_field_tag :km, params[:km], class: "hidden_km" %>
  <% end %>
  <% if params[:lat] %>
  	<%= hidden_field_tag :lat, params[:lat], class: "hidden_lat" %>
  <% end %>
  <% if params[:lng] %>
  	<%= hidden_field_tag :lng, params[:lng], class: "hidden_lng" %>
  <% end %>
  <% if params[:uo] %>
  	<%= hidden_field_tag :uo, params[:uo], class: "hidden_uo" %>
  <% end %>
<% end %>