<div class="nested-fields event-tickets-group">
	<div class="row">
		<div class="col-sm-6">
			<%= f.input :name, placeholder: "e.g. Standard, VIP, Adults, Students, etc.", validate: true %>
		</div>
		<div class="col-sm-6">
			<%= f.input :price, placeholder: "e.g. 250", validate: true %>
		</div>
	</div>
	<div class="remove-ticket">
		<%= link_to_remove_association 'Remove'.html_safe, f, class: "btn btn-danger btn-remove-tickets" %>
	</div>
</div>