<ul class="nav nav-tabs" role="tablist">
	<%= content_tag :li, (link_to "Upcoming Events", events_path(uo: 'upcoming'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'upcoming' || params[:uo] == nil}" %>
	<%#= content_tag :li, (link_to "Ongoing Events", events_path(uo: 'ongoing'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'ongoing'}" %>
	<% if params[:d] && params[:f] && params[:t] %>
		<%= content_tag :li, (link_to "Ongoing Events", events_path(uo: 'ongoing'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'ongoing'}" %>
	<% else %>
		<% if @total_ongoing_events > 0 %>
			<% if @total_ongoing_events > 9 %>
				<%= content_tag :li, (link_to "Ongoing Events <small><span class=\"ongoing-count-orange\">9+</span></small>".html_safe, events_path(uo: 'ongoing'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'ongoing'}" %>
			<% else %>
				<%= content_tag :li, (link_to "Ongoing Events <small><span class=\"ongoing-count-orange\">#{@total_ongoing_events}</span></small>".html_safe, events_path(uo: 'ongoing'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'ongoing'}" %>
			<% end %>
		<% else %>
		  <%= content_tag :li, (link_to "Ongoing Events <small><span class=\"ongoing-count-gray\">#{@total_ongoing_events}</span></small>".html_safe, events_path(uo: 'ongoing'), class: "upcoming-ongoing-link", remote: true, rel: "nofollow"), class: "#{'active' if params[:uo] == 'ongoing'}" %>
		<% end %>
	<% end %>
</ul>