<% description "Find fun events happening across Kenya. And if you're planning one, share it for free!" %>
<% content_for :site_title do %>
  <title>FunJaza - Find & Share Fun Events</title>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <h3 class="page-heading">Find Fun</h3>
  </div>
   
  <div class="col-xs-6 jump-to-results">
    <span class="visible-xs-inline"><small><%= link_to("Jump to results &#8595;".html_safe, "#results-anchor", rel: "nofollow") %></small></span>
  </div>
</div>

<div id="upcoming-ongoing-tabs">
  <%= render "upcoming_ongoing_tabs" %>
</div>

<div id="search-and-aggs-wrapper">
  <div class="row">
    <div class="col-sm-6" id="search-wrapper">
      <%= render "search" %>
    </div>
    <div id="nearby-wrapper" class="col-sm-6">
      <%= render "nearby_events" %>
    </div>
  </div>
  <%= render "aggs" %>
  <a name="results-anchor" rel="nofollow"></a>
</div>

<div class="row">
  <div class="col-sm-6 col-md-7 event-results-section" id="event-results">
    <div id="results-summary-wrapper">
      <%= render "results_summary", events: @events %>
    </div>
    <div id="event-results-wrapper">
      <%= render "event_results" %>
      <div class="ads-wrapper hidden-xs">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 2nd Responsive Ad on right column of events index page -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7006896596009658"
             data-ad-slot="6404834522"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div> 
  </div>

  <!-- <div class="col-sm-6 col-md-5" id="right-col-ads"> -->
  <div class="col-sm-6 col-md-5 social-ads-col">
    <hr class="visible-xs">
    <div class="fb-page" data-href="https://www.facebook.com/funjaza" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/funjaza"><a href="https://www.facebook.com/funjaza">FunJaza</a></blockquote></div></div>

    <div class="spacer-div">
    </div>

    <div class="twitter-follow-button">
      <a class="twitter-follow-button" href="https://twitter.com/funjaza" data-size="large">Follow @FunJaza</a>
    </div>

    <hr>

    <%#= image_tag "call-to-share.jpg", class: "img-responsive call-to-share" %>

    <!-- <div class="fb-btn-wrapper">
      <a href="http://www.facebook.com/sharer.php?u=http://www.funjaza.co.ke" title="Share FunJaza on Facebook" target="_blank" class="btn btn-facebook" rel="nofollow"><i class="fa fa-facebook"></i> Share</a>
    </div>

    <div class="twitter-btn-wrapper">
      <a href="https://twitter.com/intent/tweet?text=Check out FunJaza to find and share upcoming fun events across Kenya.&url=https://www.funjaza.co.ke/&via=FunJaza" title="Share FunJaza on Twitter" target="_blank" class="btn btn-twitter" rel="nofollow"><i class="fa fa-twitter"></i> Tweet</a>
    </div> -->

    <div class="ads-wrapper">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Responsive Ad on right column of events index page -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7006896596009658"
           data-ad-slot="1095271326"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

