<% title "Share Fun" %>
<% description "Planning a Fun Event in Kenya? Share it on FunJaza for Free!" %>

<h3 class="page-heading">Share Fun</h3>

<div class="col-md-8 no-left-padding">
	<%= render 'form' %>
</div>