<% title @event.title %>
<% description @event.descriptiontext %>
<% set_meta_tags twitter: {
                 image: "https://www.funjaza.co.ke#{attachment_url(@event, :poster)}" } %>
<% set_meta_tags og: {
                 image: "https://www.funjaza.co.ke#{attachment_url(@event, :poster)}" } %>

<% unless @event.is_active == false %>

  <% ongoing_event_times = [] %>
  <% upcoming_event_times = [] %>
  <% past_event_times = [] %>
  <% @event.event_times.each do |event_time| %>
    <% ongoing_event_times << event_time if event_time.starts < Time.zone.now && event_time.ends > Time.zone.now %>
    <% upcoming_event_times << event_time if event_time.starts > Time.zone.now %>
    <% past_event_times << event_time if event_time.starts < Time.zone.now && event_time.ends < Time.zone.now %>
  <% end %>
  <% upcoming_event_times.sort_by! { |t| t.starts} %>
  <% past_event_times.sort_by! { |t| t.starts} %>



  <div class="row event-show-image_and_details">
    <div class="col-sm-6 col-lg-4">

      <div class="event-title-show-wrapper visible-xs-block">
        <h3 class="event-title-show"><%= @event.title %></h3>
        <!-- <span class="grayed-out"><%#= link_to @event.user.name, user_path(@event.user.slug) %></span> -->
        <span class="grayed-out">Shared by <%= @event.user.name %>&nbsp;<small>(<%= pluralize(@event.user.events.count, 'share') %>)</small>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;Last updated on <%= @event.updated_at.strftime("%d %b %Y") %>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;<%= pluralize(@event.impressionist_count(:filter => :session_hash), 'view') %></span>
      </div>

      <div class="event-img-show-wrapper">
        <%= attachment_image_tag(@event, :poster, :fit, 340, 510, fallback: "missing_event_show_sm_to_lg.jpg", class: "event-img event-img-show hidden-xs", alt: "Event poster image") %>
        <%= attachment_image_tag(@event, :poster, :fit, 280, 420, fallback: "missing_event_show_xs.jpg", class: "event-img event-img-show visible-xs-inline", alt: "Event poster image") %>
      </div>

      <div class="save-social-btns-wrapper">

        <div class="fb-btn-wrapper">
          <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" title="Share event on Facebook" target="_blank" class="btn btn-facebook" rel="nofollow"><i class="fa fa-facebook"></i> Share</a>
        </div>

        <div class="twitter-btn-wrapper">
          <a href="https://twitter.com/intent/tweet?text=Check out '<%= @event.title %>'&url=<%= request.original_url %>&via=FunJaza" title="Share event on Twitter" target="_blank" class="btn btn-twitter" rel="nofollow"><i class="fa fa-twitter"></i> Tweet</a>
        </div>

        </br>

        <div class="email-btn-wrapper">
          <%= link_to '<i class="fa fa-envelope-o"></i> Email'.html_safe, new_email_event_path(id: @event.slug), remote: true, rel: "nofollow", class: "btn btn-default btn-default-primary-text email-share-button", data: { toggle: "modal", target: "#myModal" }, title: "Email event to a friend" %>
        </div>

        <div class="save-btn-wrapper">
          <!-- start: event save button -->
          <div class="calendar_button" id="calendar_button_<%= @event.id %>">
            <%= render partial: 'shared/calendar_buttons', locals: { event: @event } %>
          </div>
          <!-- end: event save button -->
        </div>
        
      </div>
    </div>

    <div class="col-sm-6 col-lg-8 event-details-show-wrapper">
      <div class="event-title-show-wrapper hidden-xs">
        <h3 class="event-title-show"><%= @event.title %></h3>
         <span class="grayed-out">Shared by <%= @event.user.name %>&nbsp;<small>(<%= pluralize(@event.user.events.count, 'share') %>)</small>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;Last updated on <%= @event.updated_at.strftime("%d %b %Y") %>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;<%= pluralize(@event.impressionist_count(:filter => :session_hash), 'view') %></span>
      </div>

      <p>
        <%= @event.event_category.name.titleize %>
      </p>

      <% if ongoing_event_times.any? && upcoming_event_times.any? %>
        <% ongoing_event_times.each do |ongoing_event_time| %>
          <%= "<p>Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} today.</p>".html_safe if ongoing_event_time.ends.to_date == Time.zone.now.to_date %>
          <%= "<p>Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} tomorrow.</p>".html_safe if ongoing_event_time.ends.to_date == Time.zone.now.to_date + 1.day %>
        <% end %>
        <div class="event-detail-more-dates-show">
          <%= link_to "show more times", "#upcoming_event_times", data: { toggle: "collapse" }, class: "more-times-available-link" %><span><small> (upto next 100)</small></span>
          <ul id="upcoming_event_times" class="collapse next-future-dates">
          <% upcoming_event_times.first(100).each do |t| %>
            <li>
              <% if t.starts.to_date == t.ends.to_date %>
                <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
              <% else %>
                <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      <% elsif ongoing_event_times.any? && upcoming_event_times.empty? %>
        <% ongoing_event_times.each do |ongoing_event_time| %>
          <%= "<p>Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} today.</p>".html_safe if ongoing_event_time.ends.to_date == Time.zone.now.to_date %>
          <%= "<p>Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} tomorrow</p>".html_safe if ongoing_event_time.ends.to_date == Time.zone.now.to_date + 1.day %>
        <% end %>
      <% elsif ongoing_event_times.empty? && upcoming_event_times.any? %>
        <p>
          <% if upcoming_event_times[0].starts.to_date == upcoming_event_times[0].ends.to_date %>
            <%= upcoming_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= upcoming_event_times[0].ends.to_datetime.strftime("%l:%M%P") %>
          <% else %>
            <%= upcoming_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span>  <%= upcoming_event_times[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
          <% end %>
        </p>
        <% future_upcoming_event_times = upcoming_event_times.drop(1) %>
        <% if future_upcoming_event_times.any? %>
          <div class="event-detail-more-dates-show">
            <%= link_to "show more times", "#future_upcoming_event_times", data: { toggle: "collapse" }, class: "more-times-available-link" %><span><small> (upto next 100)</small></span>
            <ul id="future_upcoming_event_times" class="collapse next-future-dates">
            <% future_upcoming_event_times.first(100).each do |t| %>
              <li>
                <% if t.starts.to_date == t.ends.to_date %>
                  <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
                <% else %>
                  <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% elsif ongoing_event_times.empty? && upcoming_event_times.empty? && past_event_times.any? %>
        <p class="text-danger">NB: This event occurred in the past.</p>
        <p>
          <% if past_event_times[0].starts.to_date == past_event_times[0].ends.to_date %>
            <%= past_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= past_event_times[0].ends.to_datetime.strftime("%l:%M%P") %>
          <% else %>
            <%= past_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span>  <%= past_event_times[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
          <% end %>
        </p>
        <% more_past_event_times = past_event_times.drop(1) %>
        <% if more_past_event_times.any? %>
          <div class="event-detail-more-dates-show">
            <%= link_to "show more times", "#more_past_event_times", data: { toggle: "collapse" }, class: "more-times-available-link" %><span><small> (upto next 100)</small></span>
            <ul id="more_past_event_times" class="collapse next-future-dates">
            <% more_past_event_times.first(100).each do |t| %>
              <li>
                <% if t.starts.to_date == t.ends.to_date %>
                  <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
                <% else %>
                  <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% tickets = @event.tickets %>
      <% sorted_tickets = tickets.sort_by { | ticket | ticket[:price].to_f } %>
      <% if tickets.empty? && @event.entry == "Free" %>
        <p><span class="brand-fun">Free</span></p>
      <% elsif tickets.empty? && @event.entry == "Paid" %>
        <p>Paid <span class="grayed-out"><small>(ticket details not provided)</small></span></p>
      <% elsif !tickets.empty? && @event.entry == "Paid" %>
        <ul class="event-tickets-list">
          <% ticket_count = 0 %>
          <% sorted_tickets.each do |ticket| %>
            <% ticket_count += 1 %>
            <% if ticket.price == 0  %>
              <li><%= ticket.name %> - Free</li>
            <% else %>
              <li><%= ticket.name %> - <%= number_to_currency_custom(ticket.price) %></li>
            <% end %>
            <li><%= '<span class="brand-fun">|</span>'.html_safe unless ticket_count == @event.tickets.count %></li>
          <% end %>
        </ul>
      <% end %>

      <p>
        <%= @event.venue %>
      </p>

      <% if @event.point.present? %>
        <p>
          <a id="show-hide-map-link" data-toggle="collapse" href="#map-container-show" aria-expanded="false" aria-controls="map-container-show">show map</a>
        </p>
      <% end %>

      <% if @event.point.present? %>
        <div class="collapse" id="map-container-show">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              frameborder="0" style="border:0"
              class="embed-responsive-item"
              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCkAtOHwdyey36VyyAOx_UV0KcgYsWXmTE&q=<%= @event.venue.gsub(/\s/, '+').gsub("&", "") %>">
            </iframe>
          </div>
        </div>
        
      <% end %>

      <% if @event.description.present? %>
        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
          <div class="panel-body">
            <%= sanitize @event.description %>
          </div>
        </div>
      <% end %>

      <p class="report-event-link"><span class="text-danger">* </span><small><span class="grayed-out">Is this event fake, offensive, incorrect or a duplicate?</span> <%= link_to "Report", new_report_event_path(id: @event.slug), rel: "nofollow", remote: true, data: { toggle: "modal", target: "#myModal-report-event" } %></small></p>
    </div>
  </div>

  <hr>

  <div class="ads-wrapper">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Ad on event show page -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7006896596009658"
         data-ad-slot="9064033326"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>

  <div class="modal fade" id="myModal-report-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
<% else %>
    <div class="event-details-show-wrapper">
      <div class="event-title-show-wrapper">
        <h3 class="event-title-show"><%= @event.title %></h3>
         <span class="grayed-out">Shared by <%= @event.user.name %>&nbsp;<small>(<%= pluralize(@event.user.events.count, 'share') %>)</small>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;Last updated on <%= @event.updated_at.strftime("%d %b %Y") %>&nbsp;&nbsp;<span class="brand-fun">|</span>&nbsp;&nbsp;<%= pluralize(@event.impressionist_count(:filter => :session_hash), 'view') %></span>
      </div>
      <p class="brand-fun">Sorry, this event's details will remain hidden until necessary corrections are made by the sharer.</p>
    </div>
<% end %>