<% title "Reset Password" %>

<div class="col-md-8 no-left-padding">
  <h3 class="page-heading">Change your password</h3>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, label: "New password", required: true, autofocus: true %>
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Change my password", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
