<% title "Request Password Reset" %>

<div class="col-md-8 no-left-padding">
	<h3 class="page-heading">Forgot your password?</h3>

	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
	  </div>
	<% end %>

	<%= render "users/shared/links" %>
</div>
