<% title "Contact us" %>
<% description "Feel free to send us questions or comments about FunJaza. We'd love to hear from you!" %>

<div class="col-md-8 no-left-padding">
	<h3 class="page-heading">Contact us</h3>
	<%= simple_form_for @contact_form, validate: true do |f| %>
		<%= render "shared/error_messages", :object => @contact_form %>

		<% if user_signed_in? %>
			<%= f.input :name, input_html: { value: "#{current_user.name}" }, label: "Your name" %>
		<% else %>
			<%= f.input :name, label: "Your name" %>
		<% end %>

		<% if user_signed_in? %>
			<%= f.input :email, as: :email, input_html: { value: "#{current_user.email}" }, label: "Your email" %>
		<% else %>
			<%= f.input :email, as: :email, label: "Your email" %>
		<% end %>
		
		<%= f.input :subject %>
		<%= f.input :message, as: :text, input_html: { rows: 10 } %>
		<div class="hidden">
			<%= f.input :nickname, hint: "Leave this field blank." %>
		</div>
		<%= f.button :submit, "Send", class: "btn btn-primary", data: {disable_with: "Sending..."} %>
	<% end %>

	<!-- <h3 class="page-heading" id ="tel-no">Telephone</h3>
	<p>+254(0)790406194</p> -->
</div>