@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(//fonts.googleapis.com/css?family=Anton);
@import url(//fonts.googleapis.com/css?family=Pacifico);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$brand-burnt-orange: #D35400;
$brand-orange-lines: #ffcdac;
$gray-lines: #DDDDDD;
$background-theme-color: #F1F1F1;
$nprogress-color: $brand-burnt-orange;
$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;
$font-size-base: 15px !default;
$link-color: #007fd3;
$brand-primary: #007fd3;
$brand-blue: #007fd3;

$search-and-aggs-background: #007cd4;
// $search-and-aggs-background: #5F031A;
$upcoming-ongoing-active-color: #fff;
$facet-filter-color: #fff;
$ongoing-count-active: #d35400;
$ongoing-count-inactive: #888;

@import 'nprogress';
@import 'nprogress-bootstrap';
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";
@import "summernote";

/* mixins and variables */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin btn-remove-row {
	margin-bottom: 15px;
}

@mixin action-btn {
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 500;
}

@mixin accordion-toggle-before {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: $brand-primary;         /* adjust as needed */
}

@mixin accordion-toggle-collapsed-before {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* header */

.navbar.navbar-fixed-top {
	margin-bottom: 0;
	background-color: rgba(255,255,255,1.0);
	// background-color: #F2F2F2;
	// min-height: 50px !important;
	border-bottom: 1px solid $gray-lines;
	// border-bottom: 0;
	// box-shadow: 0 2px 6px -2px $gray-light;
	ul.navbar-right {
		a {
			@media (min-width: $screen-sm-min) {
				font-size: 1.04em;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 1.1em;
			}
		}
	}
}

.navbar-dropdown-menu {
	li a {
		text-align: left;
		padding: 3px 20px 3px 10px;
	}
	min-width: 0px;
}

.locations-dropdown-menu {
	background-color: #fff;
	min-width: 0px;
	height: auto;
	max-height: 365px;
	overflow-y: scroll;
}

.navbar-brand {	
	@media (max-width: $screen-xs-max) {
		padding-top: 7.5px;
	}
	@media (min-width: $screen-sm-min) {
		padding-top: 7.5px;
	}
	span.logo {
		font-family: 'Anton', sans-serif;
		color: $brand-burnt-orange !important;
		font-size: 31px;
	}
}

span.tagline {	
	color: $brand-burnt-orange;
	font-size: 0.65em !important;
	line-height: 0.65em;
	display: block;
	text-align: center;
}

.brand-fun {
	color: $brand-burnt-orange;
}

.brand-fun-bright {
	color: #fa6400;
}

span.brand-highlight {
	background-color: #FFFBCC;
}

/* navbar */

.nav-tabs {
	border-bottom: 0px solid $search-and-aggs-background;
}

p.toggle-button-label {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 0.6em;
	color: $brand-blue;
}

.navbar-nav {
	li {
		a {
			color: $link-color !important;
			font-weight: 500;
		}
	}
}

span.free-to-share-label {
	font-size: 0.6em;
	background-color: $brand-burnt-orange;
	color: #fff;
	font-weight: 700;
	padding: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $link-color;
  height: 3px;
  width: 26px;
}

.navbar-default .navbar-toggle {
	border: 0;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

#navbar-toggle-menu {
	padding-top: 5px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 10px;
	color: $brand-blue;
	font-weight: 600;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle.activebtn {
  background-color: #fff;
  .icon-bar {
  	background-color: $brand-burnt-orange;
  }
  p.toggle-button-label {
		color: $brand-burnt-orange;
	}
}

/* body */

a {
	text-decoration: none !important;
}

div.clear-left {
	clear: left;
}

.no-padding-left {
	padding-left: 0 !important;
}

.highlight {
	font-weight: bold;
}

// #right-col-ads {
// 	text-align: center;
// 	@media (min-width: $screen-sm-min) {
// 		padding-left: 30px;
// 		padding-right: 30px;
// 	}
// 	@media (max-width: $screen-xs-max) {
// 		padding-top: 20px;
// 		border-top: 1px solid $gray-lines;
// 		padding-left: 0;
// 		padding-right: 0;
// 	}
// }

div.social-ads-col {
	text-align: center;
}

div.ads-wrapper {
	padding-top: 15px;
}

// div.ads-wrapper-sm-lg {
// 	padding-top: 100px;
// }

div.twitter-follow-button {
	/*padding-bottom: 15px;*/
}

div.spacer-div {
	height: 15px;
}

div.below-header {
	padding-top: 50px;
}

div#flash-message {
	div.alert {
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px 15px 10px 15px;
	}
}

#users-shared-links {
	margin-top: 10px;
}

span.overlimit {
	color: $brand-danger;
}

// start: rules for spacing between title and description
div.event_title {
	margin-bottom: 0px;
	p.help-block {
		margin-bottom: 0px;
	}
}

div.no-left-padding {
	padding-left: 0;
	@media (max-width: $screen-xs-max) {
		padding-right: 0;
	}
}

div.sign-up-fields-form {
	@media (min-width: $screen-sm-min) {
		border-right: 1px solid $gray-lines;
	}
}

div.sign-up-via-social-media {
	text-align: center;
}

div.sign-up-wrapper {
	margin-top: 21px;
}

.bold-text {
	font-weight: bold;
}

#event-title-counter-wrapper {
	margin-bottom: 15px;
	color: $gray-light;
}
// end: rules for spacing between title and description

.simple_form .help-block {
  font-style: italic;
}

.repeats_selector {
	margin-bottom: 15px;
}

.map-container {
	position: relative;
  width: 50%;
  padding-bottom: 28.125%; /* Ratio 16:9 ( 50%/(16/9) = 28.125% ) */
  display: none;
  @media (max-width: $screen-xs-max) {
  	width: 80%;
  	padding-bottom: 45%; /* Ratio 16:9 ( 80%/(16/9) = 45% ) */
  }
}

.map-container #map-preview {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 15px;
  left: 0;
  margin: 0;
  padding: 0;
}

#mandatory-fields-label {
	font-style: italic;
	color: $gray-light;
}

.event_entry span {
	margin-top: 0px;
}

#tickets {
	margin-bottom: 15px;
	display: none;
}

#poster_error {
	margin-bottom: 0;
}

div.event-schedule-group {
	border: 1px solid $gray-lines;
	padding: 15px 15px 0 15px;
	margin-bottom: 15px;
}

div.event-tickets-group {
	border: 1px solid $gray-lines;
	padding: 15px 15px 0 15px;
	margin-bottom: 15px;
}

input[readonly].date { 
	background-color: #fff; 
}

input[readonly].until-date { 
	background-color: #fff; 
}

/* shared error messages for forms */

#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

span.form-has-error {
	display: none;
}

a.btn-add-times {
	margin-left: 15px;
}

a.btn-remove-times {
	@include btn-remove-row;
}

a.btn-add-tickets {
	margin-left: 20px;
}

a.btn-remove-tickets {
	@include btn-remove-row;
}

.poster-uploading {
	display: none;
	color: $gray-light;
	@media (min-width: $screen-sm-min) {
		margin-left: 5px;
	}
}

#event_poster {
	@media (min-width: $screen-sm-min) {
		display: inline-block;
	}
}

p.search-results-message {
	margin-top: 0;
	margin-bottom: 15px;
	color: $gray;
}

div#upcoming-ongoing-tabs {
	li {
		a {
			border: 0;
			background-color: $gray-lighter;
			font-weight: 500;
			@media (max-width: $screen-xs-max) {
				padding-left: 10px;
				padding-right: 10px;
			}
			&:hover {
				color: $brand-burnt-orange;
			}
		}
	}
	li.active {
		a {
			color: $upcoming-ongoing-active-color;
			border-top: 1px solid $search-and-aggs-background;
			border-right: 1px solid $search-and-aggs-background;
			border-left: 1px solid $search-and-aggs-background;
			background-color: $search-and-aggs-background;
		}
		span.ongoing-count-orange {
			display: none;
		}
		span.ongoing-count-gray {
			display: none;
		}
	}
}

span.ongoing-count-orange {
	color: $ongoing-count-active;
}

span.ongoing-count-gray {
	color: $ongoing-count-inactive;
}

div.event-title {
	a {
		text-decoration: none;
		font-weight: 500;
	}
}

hr.events-seperator {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-color: $gray-lighter;
}

//start: event results
div.result-row {
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #e2e2e2;
}

.event-results-section {
	@media (min-width: $screen-sm-min) {
		border-right: 1px solid $gray-lines;
	}
}

div.event-image-wrapper {
	float: left;
	width: 100px;
	@media (max-width: $screen-xs-max) {
		margin-right: 10px;
	}
	@media (min-width: $screen-sm-min) {
		margin-right: 15px;
	}
}

div.views-wrapper {
	padding-top: 4px;
}

div.event-details-wrapper {
	@media (max-width: $screen-xs-max) {
		margin-left: 110px;
	}
	@media (min-width: $screen-sm-min) {
		margin-left: 115px;
	}
}

div.event-detail {
	margin-bottom: 4px;
}

div.event-detail-more-dates {
	margin-top: 4px;
}

div.calendar-button-event-results {
	margin-top: 10px;
}

span.thin-count {
	font-size: 0.6em;
}

form.new_saved_event {
	display: inline;
	// margin-right: 15px;
}

a.edit-event-link {
	margin-left: 10px;
}

.call-to-action {
	padding: 5px;
	margin-bottom: 15px;
	font-weight: 500;
}

//end: event results

// start: show event
div.event-show-image_and_details {
	margin-top: 0px;
}

div.event-img-show-wrapper {
	@media (min-width: $screen-sm-min) {
		margin-top: 21px;
		margin-bottom: 15px;
		margin-right: 0;
		display: block;
		width: 360px;
		padding: 0;
	}
	@media (max-width: $screen-xs-max) {
		margin-top: 10px;
		margin-bottom: 15px;
		margin-right: 0;
		display: block;
		width: 280px;
		padding: 0;
	}
}

div.views-wrapper-show {
	padding-top: 5px;
}

div.event-detail-more-dates-show {
	margin-bottom: 10px;
}

h3.event-title-show {
	margin-bottom: 0;
	margin-top: 0;
	color: $text-color;
}

p.report-event-link {
	text-align: right;
}

h3.page-heading {
	color: #D35400;
	font-family: 'Pacifico', cursive;
	&.clear-top-margin {
		margin-top: 0;
	}
}

div.jump-to-results {
	margin-top: 21px;
	text-align: right;
}

h4.terms-heading {
	margin-top: 20px;
}

div.event-title-show-wrapper {
	margin-top: 21px;
	margin-bottom: 10px;
}

div.fb-btn-wrapper {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

div.twitter-btn-wrapper {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

div.email-btn-wrapper {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

div.save-btn-wrapper {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
}

.btn-facebook {
    background: #3b5998;
    font-weight: 500;
    color: #fff;
    width: 85px;
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}

.btn-facebook-sign-in {
    background: #3b5998;
    // font-weight: 500;
    color: #fff;
}

.btn-facebook-sign-in:link, .btn-facebook-sign-in:visited {
    color: #fff
}
.btn-facebook-sign-in:active, .btn-facebook-sign-in:hover {
    background: #30477a;
    color: #fff
}

.btn-twitter {
  background: #00acee;
  font-weight: 500;
  color: #fff;
  width: 85px;
}

img.call-to-share {
	margin-bottom: 10px;
}

.email-share-button {
	width: 85px;
}

.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

// end: event show

// howitworks page
// div.how-it-works-steps {
// 	padding-top: 20px;

// 	p.header {
// 		// color: $brand-burnt-orange !important;
// 		// font-weight: 100;
// 		@media (max-width: $screen-xs-max) {
// 			font-size: 1.5em;
// 		}
// 		@media (min-width: $screen-sm-min) {
// 			font-size: 2.5em;
// 		}
// 	}
// 	p.note {
// 		font-weight: 500;
// 		small {
// 			font-style: italic;
// 			// font-weight: 100;
// 			color: $text-color;
// 		}
// 	}
// 	i.on-header {
// 		@media (max-width: $screen-xs-max) {
// 			margin-right: 15px;
// 			margin-left: 7.5px;
// 		}

// 		@media (min-width: $screen-sm-min) {
// 			margin-right: 30px;
// 			margin-left: 15px;
// 		}
// 	}
// 	div.how-it-works-step {
// 		margin-bottom: 50px;
// 	}
// 	a {
// 		// color: #39739a;
// 	}
// }

// h3.profile-name-header {
// 	margin-bottom: 20px;
// }

// p.fa-social-media-icon-30 {
// 	font-size: 30px;
// 	margin-bottom: 5px;
// }

// div.fb-embedded-page-wrapper, div.twitter-embedded-timeline-wrapper {
// 	margin-top: 20px;
// }

// a.btn-contact-organizer {
// 	margin-top: 20px;
// }

ul.event-tickets-list {
	padding-left: 0;
	margin-bottom: 10px;
	li {
		display: inline-block;
		margin-right: 3px;
	}
}


div#map-container-show {
	margin-bottom: 15px;
	@media (max-width: $screen-xs-max) {
		width: 75%
	}
}

//end: event result rows

ul.next-future-dates {
	margin-bottom: 0px;
	padding-left: 10px;
	list-style-type: none;
	margin-top: 10px;
	li {
		margin-bottom: 10px;
	}
}

.btn-more-event-times {
	@include action-btn;
}

.event_event_times_repeats .checkbox {
	margin-top: 0;
}

div.shared-search-clear-wrapper {
	display: inline-block;
	@media (max-width: $screen-xs-max) {
		margin-top: 10px;
	}
}

div.shared-events-results {
	margin-top: 15px;
}

.shared-events-search-input {
	width: 50%;
	display: inline;
	margin-right: 10px;
}

.ellipsis {
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grayed-out {
	color: $gray-light;
}

#no-saved-events-message {
	display: none;
}

#redirect-saved-events-page1 {
	display: none;
}

span.added-to-calendar:before {
	content: 'Unsave'
}

/* aggregations */

li.agg-list-item {
	small.agg-count {
		color: $gray-light;
	}
	margin-bottom: 10px;
	margin-right: 7.5px;
	margin-left: 7.5px;
	&.active {
		a {
			color: $brand-burnt-orange !important;
			background-color: #fff !important;
			&:hover {
				color: $brand-burnt-orange !important;
				background-color: $gray-lighter !important;
			}
		}
	}
	a {
		background-color: #fff !important;
		text-decoration: none;
		white-space: nowrap;
		color: $link-color !important;
		&:hover {
			background-color: $gray-lighter !important;
		}
	}
}

button.btn-agg-dropdown {
	width: 100%;
	color: $link-color;
	font-weight: 500;
	&:hover {
		color: $link-color;
	}
}

div.btn-agg-dropdown-wrapper {
	width: 100%;
}

span.agg-group-seperator {
	color: #c0c0c0;
}

.btn-default-primary-text {
	font-weight: 500;
	color: $brand-primary;
	&:hover {
		color: $brand-primary;
	}
}

.btn-default-burnt-orange-text {
	font-weight: 500;
	color: $brand-burnt-orange;
	&:hover {
		color: $brand-burnt-orange;
	}
}

.btn-default-primary-text.btn-add-remove-calendar {
	background-color: $search-and-aggs-background;
	color: #fff;
	border: 1px solid $search-and-aggs-background;
	width: 85px;
}

.btn-default-burnt-orange-text.btn-add-remove-calendar {
	background-color: #D35400;
	color: #fff;
	border: 1px solid #D35400;
	width: 85px;
}

.btn-default-primary-text.email-share-button {
	background-color: #aaa;
	color: #fff;
	border: 1px solid #aaa;
}

div#aggs-wrapper{
	margin-top: 15px;
}

div.agg-group-wrapper {
	margin-bottom: 15px;
}

div.facet-filters {
	text-align: center;
	margin-bottom: 5px;
	font-weight: 500;
	color: $facet-filter-color;
}

p.filter-by-header {
	margin-top: 5px;
	color: #555555;
}

a.clear-filters-and-search {
	display: inline-block;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
	margin-right: 5px;
}

div#search-and-aggs-wrapper {
	margin-bottom: 15px;
	padding: 15px 15px 0px 15px;
	@include border-radius(0px 4px 4px 4px);
	border-bottom: 1px solid $search-and-aggs-background;
	border-right: 1px solid $search-and-aggs-background;
	border-left: 1px solid $search-and-aggs-background;
	// background-color: #FFF;
	background-color: $search-and-aggs-background;
}

/* mobile aggs */

.panel-heading.aggs-panel-heading {
	padding: 0;
	font-weight: 500;
	a {
		display: block;
		padding: 6px 12px
	}
}

.panel {
	border-color: #ccc;
}

.panel-default > .panel-heading.aggs-panel-heading {
	background-color: #FFF;
}

.panel-body.aggs-panel-body {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

ul.sm-aggs-ul {
	padding-left: 0px;
	margin-left: 0;
	margin-bottom: 0;
	li {
		text-decoration: none !important;
		display: block;
		margin-left: 0;
		margin-bottom: 0;
		margin-bottom: 0;
		margin-right: 0;
		a {
			display: block;
			padding-left: 30px;
			padding-bottom: 5px;
			padding-top: 5px;
			border-bottom: 1px solid $gray-lines;
		}
	}
}

span.sm-aggs-filter-label {
	color: $text-color;
}

.panel-heading.aggs-panel-heading a:before {
  @include accordion-toggle-before;
}

.panel-heading.aggs-panel-heading a.collapsed:before {
  @include accordion-toggle-collapsed-before;
}

// for jquery-ui autocomplete
.ui-menu .ui-menu-item {
	border-bottom: 1px solid $gray-lines;
	&.ui-state-focus {
		border: 1px solid $gray-lines;
		background: $gray-lighter;
	}
	a {
	  height:16px;
	  font-size:14px;
	  color: $gray;
	  font-family: 'Roboto', Helvetica, Arial, sans-serif;
	}
}

.ui-autocomplete {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 	border: 1px solid $gray-lines;
}


span.clear-agg {
	color: $gray-dark !important;
	font-weight: normal !important;
	margin-left: 2px;
}

span#search-or-nearby-label {
	color: $gray-lines;
	@media (min-width: $screen-sm-min) {
		padding-right: 15px;
	}
}

div#nearby-wrapper {
	@media (min-width: $screen-sm-min) {
		padding-left: 0;
	}
	@media (max-width: $screen-xs-max) {
		margin-top: 15px;
	}
}

button.find-nearby-events-btn {
	width: 100%;
}

.fa-spin-nearby {
	display: none;
}

.active-text {
	color: $brand-burnt-orange !important;
}

/* contact us */
h3#tel-no {
	margin-top: 30px;
	font-weight: 600px;
}

/* footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 70px; /* bottom = footer height + 10px (clearance) */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #CCCCCC;
  @media (max-width: $screen-xs-max) {
		text-align: center;
	}
  div {
  	p {
	  	font-size: 0.8em;
	  	color: #777777;
	  	margin-top: 4px;
	  	margin-bottom: 2px
	  }
	  span {
	  	@media (min-width: $screen-sm-min) {
		  	margin-right: 30px;
		  }
	  	@media (max-width: $screen-xs-max) {
	  		margin-right: 15px;
	  		margin-bottom: 10px;
	  	}
	  }
	  a {
	  	font-weight: 500;
	  }
  }
}

span.footer-link {
	display: inline-block;
}