<%# title "Contact #{@organizer.name}" %>

<!-- <div class="col-md-8 no-left-padding"> -->
	<!-- <h3 class="page-heading">Contact <%#= @organizer.name %></h3> -->
	<%#= simple_form_for @contact_organizer, validate: true do |f| %>
		<%#= render "shared/error_messages", :object => @contact_organizer %>

		<%# if user_signed_in? %>
			<%#= f.input :name, input_html: { value: "#{current_user.name}" }, label: "Your name" %>
		<%# else %>
			<%#= f.input :name, label: "Your name" %>
		<%# end %>

		<%# if user_signed_in? %>
			<%#= f.input :your_email, as: :email, input_html: { value: "#{current_user.email}" } %>
		<%# else %>
			<%#= f.input :your_email, as: :email %>
		<%# end %>
		
		<%#= f.input :subject %>
		<%#= f.input :message, as: :text, input_html: { rows: 10 } %>
		<!-- <div class="hidden"> -->
			<%#= f.input :nickname, hint: "Leave this field blank." %>
		<!-- </div> -->
		<%#= f.input :uid, as: :hidden, input_html: { value: params[:uid] } %>
		<%#= f.button :submit, "Send", class: "btn btn-primary", data: {disable_with: "Sending..."} %>
	<%# end %>
<!-- </div> -->