<% if ongoing_upcoming_saved_events.any? %>
	<% hr_counter = 0 %>
	<% ongoing_upcoming_saved_events.each do |event| %>
		<% hr_counter += 1 %>
		<div class="result-row row-<%= event.id %>">
	    <div class="event-image-wrapper">
	      <!-- start: event poster -->
	      <%= link_to (attachment_image_tag(event, :poster, :fill, 100, 150, fallback: "missing.jpg", class: "event-img", alt: "Event poster image")), event_path(event.slug) %>
	      <!-- end: event poster -->
	    </div>
	   	<div class="event-details-wrapper">
	      <!-- start: event title -->
				<div class="event-title ellipsis event-detail">
	        <%= link_to event.title, event_path(event.slug) %>
	      </div>
	      <!-- end: event title -->
	      <!-- start: event category -->
	      <div class="ellipsis event-detail">
	        <%= event.event_category.name.titleize %>
	      </div>
	      <!-- end: event category -->
	      <!-- start: event time -->
	      <div class="ellipsis event-detail">
	      	<% ongoing_event_times = [] %>
	      	<% upcoming_event_times = [] %>
	      	<% event.event_times.each do |event_time| %>
	      		<% ongoing_event_times << event_time if event_time.starts < Time.zone.now && event_time.ends > Time.zone.now %>
	      		<% upcoming_event_times << event_time if event_time.starts > Time.zone.now %>
	      	<% end %>

	      	<% upcoming_event_times.sort_by! { |t| t.starts} %>

	      	<% if ongoing_event_times.any? && upcoming_event_times.any? %>
	      		<% ongoing_event_times.each do |ongoing_event_time| %>
		      		<%= "Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} today." if ongoing_event_time.ends.to_date == Time.zone.now.to_date %>
			        <%= "Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} tomorrow." if ongoing_event_time.ends.to_date == Time.zone.now.to_date + 1.day %>
	      		<% end %>
	      		<div class="ellipsis event-detail-more-dates">
		          <%= link_to "show more times", "#upcoming_event_times-#{hr_counter}", data: { toggle: "collapse" }, rel: "nofollow", class: "more-times-available-link" %><span><small> (upto next 10)</small></span>
		          <!-- <span class="grayed-out"><small>&nbsp;(next 10)</small></span> -->
		          <ul id="upcoming_event_times-<%= hr_counter %>" class="collapse next-future-dates">
		          <% upcoming_event_times.first(10).each do |t| %>
		            <li>
		              <% if t.starts.to_date == t.ends.to_date %>
			              <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
			            <% else %>
			              <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
			            <% end %>
		            </li>
		          <% end %>
		          </ul>
	          </div>
	        <% elsif ongoing_event_times.any? && upcoming_event_times.empty? %>
	        	<% ongoing_event_times.each do |ongoing_event_time| %>
		      		<%= "Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} today." if ongoing_event_time.ends.to_date == Time.zone.now.to_date %>
			        <%= "Ongoing till #{ongoing_event_time.ends.to_datetime.strftime("%l:%M%P")} tomorrow." if ongoing_event_time.ends.to_date == Time.zone.now.to_date + 1.day %>
	      		<% end %>
	      	<% elsif ongoing_event_times.empty? && upcoming_event_times.any? %>
	      		<% if upcoming_event_times[0].starts.to_date == upcoming_event_times[0].ends.to_date %>
		          <%= upcoming_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= upcoming_event_times[0].ends.to_datetime.strftime("%l:%M%P") %>
		        <% else %>
		          <%= upcoming_event_times[0].starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span>  <%= upcoming_event_times[0].ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
		        <% end %>
		      	<% future_upcoming_event_times = upcoming_event_times.drop(1) %>
		      	<% if future_upcoming_event_times.any? %>
			      	<div class="ellipsis event-detail-more-dates">
			          <%= link_to "show more times", "#future_upcoming_event_times-#{hr_counter}", data: { toggle: "collapse" }, rel: "nofollow", class: "more-times-available-link" %><span><small> (upto next 10)</small></span>
			          <!-- <span class="grayed-out"><small>&nbsp;(next 10)</small></span> -->
			          <ul id="future_upcoming_event_times-<%= hr_counter %>" class="collapse next-future-dates">
			          <% future_upcoming_event_times.first(10).each do |t| %>
			            <li>
			              <% if t.starts.to_date == t.ends.to_date %>
				              <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%l:%M%P") %>
				            <% else %>
				              <%= t.starts.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %> <span>-</span> <%= t.ends.to_datetime.strftime("%a, %d %b %Y, %l:%M%P") %>
				            <% end %>
			            </li>
			          <% end %>
			          </ul>
		          </div>
		      	<% end %>
	      	<% end %>
	      </div>
	      <!-- end: event time -->
	      <!-- start: event tickets -->
	      <div class="ellipsis event-detail">
	        <% tickets = event.tickets.sort_by { | ticket | ticket[:price].to_f } %>
	        <% if tickets.empty? && event.entry == "Free" %>
            <span class="brand-fun">Free</span>
          <% elsif tickets.empty? && event.entry == "Paid" %>
            Paid <span class="grayed-out"><small>(ticket details not provided)</small></span>
          <% elsif !tickets.empty? && event.entry == "Paid" %>
            <span>
              <% if tickets.first[:price].to_f == 0 %>
                <% if tickets.first[:price].to_f == tickets.last[:price].to_f %>
                  Paid <span class="grayed-out"><small>(free for a limited group)</small></span>
                <% else %>
                  Free <span>-</span> <%= number_to_currency_custom tickets.last[:price].to_f %>
                <% end %> 
              <% else %>
                <% if tickets.first[:price].to_f == tickets.last[:price].to_f %>
                  <%= number_to_currency_custom tickets.first[:price].to_f %>  
                <% else %>
                  <%= number_to_currency_custom tickets.first[:price].to_f %> <span>-</span> <%= number_to_currency_custom tickets.last[:price].to_f %>
                <% end %>
              <% end %>
            </span>
          <% end %>
	      </div>
	      <!-- end: event tickets -->
	      <!-- start: event location -->
	      <div class="ellipsis event-detail">
	        <%= event.venue %>
	      </div>
	      <!-- end: event location -->
	      <!-- start: event add calendar button -->
	      <div class="ellipsis calendar-button-event-results">
		      <%= link_to 'Unsave', saved_event_path(event.id), method: :delete, class: "btn btn-default btn-default-burnt-orange-text btn-add-remove-calendar", remote: true %>
		      <span><%= link_to("Edit", edit_event_path(event), class: "edit-event-link" ) if event.user == current_user %></span>
		    </div>
	      <!-- end: event add calendar button -->
	   	</div>

	  </div>
	<% end %>
<% else %>
	<p>Save events that interest you and we'll list them here for you!</p>
<% end %>

<p id="no-saved-events-message">Save events that interest you and we'll list them here for you!</p>
<p class="grayed-out" id="redirect-saved-events-page1"><i class="fa fa-spinner fa-spin"></i> Please wait...</p>

<%= will_paginate @ongoing_upcoming_saved_events, :renderer => BootstrapPagination::Rails %>

<%= javascript_tag do %>
  window.savedEventsPage = '<%= j params[:page] if params[:page].present? %>';
<% end %>