<% title "Saved Events" %>

<h3 class="page-heading">Saved Events</h3>

<div id="saved-events-results" class="col-sm-8 col-md-6 col-lg-6 no-left-padding">
	<%= render "saved_events_results", ongoing_upcoming_saved_events: @ongoing_upcoming_saved_events %>
</div>