<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<span class="footer-link"><%= link_to "Contact us", contact_us_path %></span>
				<span class="footer-link"><%= link_to "Terms of service", terms_path, rel: "nofollow" %></span>
				<span class="footer-link"><%= link_to "Report a bug", new_report_issue_path, rel: "nofollow" %></span>
			</div>
			<div class="col-sm-6">
				<span class="footer-link"><%= link_to "Facebook", "https://www.facebook.com/funjaza", target: "_blank", title: "Visit our Facebook page." %></span>
				<span class="footer-link"><%= link_to "Twitter", "https://twitter.com/funjaza", target: "_blank", title: "Visit our Twitter page." %></span>
			</div>
		</div>
	  <p>
	  	<span>&copy; <%= Time.zone.now.year %> FunJaza Entertainment</span>
	  </p>
	</div>
</footer>