<header>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <p class="toggle-button-label">MENU</p>
	      </button>
	      <%= link_to '<span class="logo">FunJaza</span><span class="tagline">find fun. share fun.</span>'.html_safe, root_path, class: "navbar-brand" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
		      <%= content_tag :li, (link_to "Find", root_path)  %>
		      <%= content_tag :li, (link_to "Share <span class=\"free-to-share-label\">FREE</span>".html_safe, new_event_path) %>
		      <%= content_tag :li, (link_to "How it works", howitworks_path) %>
					<% if user_signed_in? %>
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Events&nbsp;<i class="fa fa-caret-down"></i>
		          </a>
		          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
		          	<li><%= link_to "Saved", saved_events_path, rel: "nofollow" %></li>
		            <li><%= link_to "Shared", shared_events_path, rel: "nofollow" %></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown", rel="nofollow">Account&nbsp;<i class="fa fa-caret-down"></i>
		          </a>
		          <ul class="dropdown-menu">
								<li><%= link_to "Edit", edit_user_registration_path(current_user), rel: "nofollow" %></li>
								<!-- <li class="divider"></li> -->
								<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
		          </ul>
		        </li>
		      <% else %>
			      <%= content_tag :li, (link_to "Sign in", new_user_session_path) %>
			      <%= content_tag :li, (link_to "Sign up", new_user_registration_path) %>
		      <% end %>
		    </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav>
</header>