<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= yield :site_title %>
    <%= display_meta_tags reverse: true %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="ojlwBIBm8NKnNhh4Jj6XtS0wMFoVeVmppguxHAXzykc" />
    <meta property="fb:app_id" content="607947875974473" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false, :cache => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false, :cache => true %>
    <%= javascript_include_tag :modernizr, :cache => true, async: true %>
    <%= javascript_include_tag "facebook.js", :cache => true, async: true %>
    <%= javascript_include_tag "twitter.js", :cache => true, async: true %>
    <%= yield :google_maps_include_js %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  <body class="site">
    <%= render "layouts/header" %>
    <div class="below-header site-content">
      <%= yield :banner %>
      <div class="container ">
        <div id="flash-message">
          <%= render "shared/flash_messages" %>
        </div>
        <div id="fb-root"></div>
        <%= yield %>
        <%#= debug(params) if Rails.env.development? %>
      </div>
    </div>
    
    <%= render "layouts/footer" %>
  </body>
</html>

<%= javascript_tag do %>
  if (!window.console) console = {log: function() {}};
<% end %>