<% title "Edit Account" %>

<div class="col-md-8 no-left-padding">
  <h3 class="page-heading">Edit Account</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <p id="mandatory-fields-label">You must fill in the fields marked *</p>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <% if current_user.provider != "facebook" %>
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      <% end %>
      <%#= f.association :location, label: "County", label_method: lambda { |location| location.name.titleize }, collection: Location.order('name ASC') %>

      <!-- <p>Event organizers can enhance engagement with event goers by providing their social media presence information below.</p> -->
      <%#= f.input :twitter_handle, hint: "e.g. myhandle (without '@')" %>
      <%#= f.input :facebook_url, label: "Facebook page url", hint: "e.g. http://www.facebook.com/mypage" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3 class="page-heading">Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account? All events you've shared will be deleted. This action is irreversible." }, method: :delete %></p>

</div>