<% title "Sign up" %>
<% description "Sign up today to start sharing your fun events on FunJaza - it's free!" %>

<div class="row sign-up-wrapper">
	<div class="col-sm-6 col-md-8 sign-up-fields-form">
		<h3 class="page-heading clear-top-margin">Sign up</h3>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		  	<p id="mandatory-fields-label">You must fill in the fields marked *</p>
		  	<%= f.input :name, autofocus: true, hint: "Established entities are advised to register an account using their full name e.g. XYZ Restaurant. Doing so will enhance the credibility of your shared events." %>
		  	<%#= f.input :name, autofocus: true %>
		    <%= f.input :email, required: true %>
		    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
		    <%= f.input :password_confirmation, required: true %>
		    <%#= f.association :location, label: "County", label_method: lambda { |location| location.name.titleize }, collection: Location.order('name ASC') %>

		    <!-- <p>Event organizers can enhance engagement with event goers by providing their social media presence information below.</p> -->
		    <%#= f.input :twitter_handle, hint: "e.g. myhandle (without '@')" %>
	      <%#= f.input :facebook_url, label: "Facebook page url", hint: "e.g. http://www.facebook.com/mypage" %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
		  </div>
		<% end %>

		<p><small>By signing up, you agree to the <%= link_to "terms of service", terms_path %>.</small></p>

		<%= render "users/shared/links" %>
		
	</div>

	<div class="col-sm-6 col-md-4 sign-up-via-social-media">
		<p class="bold-text">Or</p>
		<%= link_to "Sign up using Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-facebook-sign-in" %>
		<p><small>By signing up, you agree to the <%= link_to "terms of service", terms_path %>.</small></p>
	</div>
</div>